*.md linguist-vendored=false
*.md linguist-generated=false
*.md linguist-documentation=false
*.md linguist-detectable=true

*.json linguist-vendored=false
*.json linguist-generated=false
*.json linguist-documentation=false
*.json linguist-detectable=true

*.yml linguist-vendored=false
*.yml linguist-generated=false
*.yml linguist-documentation=false
*.yml linguist-detectable=true

*.ini linguist-vendored=false
*.ini linguist-generated=false
*.ini linguist-documentation=false
*.ini linguist-detectable=true

*.txt linguist-vendored=false
*.txt linguist-generated=false
*.txt linguist-documentation=false
*.txt linguist-detectable=true
